<head>
  <meta charset="utf-8">
  <meta name="Description" content="Shem's Net Library">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% set css %}
  {% include "base.css" %}
  {% endset %}

  <style>
    {{css | cssmin | safe}}
  </style>

  <title>
    {{ title }}
  </title>
</head>